.new-tweet {
	background-color: #E8E8EE;
	margin-left: 2em;
	margin-right: 2em;
	border: solid #D3D3D3;
	border-width: 1px;
	border-radius: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.new-tweet h2 {
	font-style: bold;
	border-bottom: 1.5px solid black;
	border-height: 10px;
	margin-top: 0;
	padding-top: 8px;
}

.new-tweet textarea {
	width: 100%;
	padding-left: 8px;
}

.new-tweet button {
 display: inline;
}

.counter {
	display: inline;
	float: right;
	padding: 5px;
	font-style: italic;
	font-size: 12px;
}

.negative {
	color: red;
}
